In [11]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# File to load
file = 'Resources/Pokemon.csv'

In [8]:
# Read with Pandas
df_poke = pd.read_csv(file, encoding="utf-8")
df_poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
df_poke.loc[:, ["Name", "Type 1", "Type 2", "HP", "Attack", "Sp. Atk", "Sp. Def", "Speed"]].head()

                    Name Type 1  Type 2  HP  Attack  Sp. Atk  Sp. Def  Speed
0              Bulbasaur  Grass  Poison  45      49       65       65     45
1                Ivysaur  Grass  Poison  60      62       80       80     60
2               Venusaur  Grass  Poison  80      82      100      100     80
3  VenusaurMega Venusaur  Grass  Poison  80     100      122      120     80
4             Charmander   Fire     NaN  39      52       60       50     65

In [26]:
# Create a dataframe of the average stats for each type of pokemon.
df_poke["avg total"] = df_poke["Total"]/6
df_poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,avg,avg total
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,53.000000,53.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,67.500000,67.500000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,87.500000,87.500000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,104.166667,104.166667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,51.500000,51.500000

In [ ]:
# Calculate the total power level of each type of pokemon by adding all of the stats together.
# Place the results into a new column.

In [36]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.

df_type =  df_poke.groupby(['Type 1'])
print(df_type)
type_summary = df_type["Total", "avg total", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"].mean()
type_sort = type_summary.sort_values(["Total"], ascending=False)
type_sort.head(18)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001FD2FD86400>

,Total,avg total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,,
Dragon,550.531250,91.755208,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250
Steel,487.703704,81.283951,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259
Flying,485.000000,80.833333,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000
Psychic,475.947368,79.324561,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228
Fire,458.076923,76.346154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308
Rock,453.750000,75.625000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091
Dark,445.741935,74.290323,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290
Electric,443.409091,73.901515,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000
Ghost,439.562500,73.260417,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750
Ground,437.500000,72.916667,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250
Ice,433.458333,72.243056,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333
Water,430.455357,71.742560,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286
Grass,421.142857,70.190476,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571
Fighting,416.444444,69.407407,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,413.176471,68.862745,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,401.683673,66.947279,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020
Poison,399.142857,66.523810,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429
Bug,378.927536,63.154589,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159